BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
Standard: c++17
PointerAlignment: Right
DerivePointerAlignment: false
AccessModifierOffset: -2
NamespaceIndentation: None
SortIncludes: CaseSensitive
